<?xml version="1.0" encoding="utf-8"?>

<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
         xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
         xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
         IgnorableNamespaces="uap rescap">

    <Identity
        Name="2d17f127-1f14-4452-bb9d-a8ee3f01ab31"
        Publisher="CN=jjask"
        Version="1.0.0.0" />

    <Properties>
        <DisplayName>FluentStore.Package</DisplayName>
        <PublisherDisplayName>jjask</PublisherDisplayName>
        <Logo>Images\StoreLogo.png</Logo>
    </Properties>

    <Dependencies>
        <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
        <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.17763.0" />
    </Dependencies>

    <Resources>
        <Resource Language="x-generate"/>
    </Resources>

    <Applications>
        <Application Id="App"
            Executable="$targetnametoken$.exe"
            EntryPoint="$targetentrypoint$">
            <uap:VisualElements
                DisplayName="FluentStore.Package"
                Description="FluentStore.Package"
                BackgroundColor="transparent"
                Square150x150Logo="Images\Square150x150Logo.png"
                Square44x44Logo="Images\Square44x44Logo.png">
                <uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png" />
                <uap:SplashScreen Image="Images\SplashScreen.png" />
            </uap:VisualElements>
            <Extensions>
                <desktop:Extension
                    xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
                    Category="windows.fullTrustProcess"
                    Executable="FluentStore.FullTrust\FluentStore.FullTrust.exe" />
            </Extensions>
        </Application>
    </Applications>

    <Capabilities>
        <Capability Name="internetClient" />
        <rescap:Capability Name="packageManagement" />
        <rescap:Capability Name="packageQuery" />
        <rescap:Capability Name="runFullTrust" />
        <rescap:Capability Name="broadFileSystemAccess" />
    </Capabilities>
</Package>
