[submodule "StoreLib"]
	path = StoreLib
	url = https://github.com/yoshiask/StoreLib.git
[submodule "API/UUPMediaCreator"]
	path = API/UUPMediaCreator
	url = https://github.com/yoshiask/UUPMediaCreator
	branch = fluent-store
